apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ../../../../applications/namespace/v1/
  - ../../../../applications/kube-prometheus/v72.0.0-v2/
# patches:
#   - path: values.yaml
#     target:
#       kind: HelmRelease
#       name: prometheus-community