# Deployment configuration
replicaCount: 2

image:
  repository: docker.io/hriships/iris-classifier-api
  tag: v1.1.0
  pullPolicy: Always

# Resource configuration
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

# Application configuration
logLevel: INFO
args:
 - 8080

# Ingress configuration
route:
  host:  iris.kube.two.inc
  port: 8080
  paths: 
  - /api/v1

# Storage configuration
# storage:
#   size: 3Gi

# Prometheus metrics configuration
metrics:
  enabled: true
  path: /api/v1/metrics
  port: http
  interval: 15s

